

.page-container[b-88vdfvydvm] {
    display: flex;
    width: 1920px;
    height: 1080px;
    font-family: 'Segoe UI', sans-serif;
}

.left-panel[b-88vdfvydvm] {
    flex: 1;
    min-width: 60%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-panel[b-88vdfvydvm] {
    flex: 1;
    min-width: 40%;
    background: #0b4032;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.logo[b-88vdfvydvm] {
    width: 300px;
    margin: 0 auto 30px;
}

.brand[b-88vdfvydvm] {
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 36px;
    margin-bottom: 10px;
}

.description[b-88vdfvydvm] {
    font-size: 14px;
    opacity: 0.8;
}

.thanks[b-88vdfvydvm] {
    margin-top: auto;
    font-size: 16px;
    margin-top: 300px;
}

.form-container[b-88vdfvydvm] {
    width: 100%;
    max-width: 700px;
    padding: 20px;
}

.form-group[b-88vdfvydvm] {
    width: 100%;
    margin-bottom: 20px;
}

    .form-group label[b-88vdfvydvm] {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

.input[b-88vdfvydvm] {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}

.btn-register[b-88vdfvydvm] {
    width: 100%;
    background-color: #0b4032;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 100px
}

    .btn-register:hover[b-88vdfvydvm] {
        background-color: #095f49;
    }

.login-link[b-88vdfvydvm] {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}