@page "/"
@page "/register"
@layout RegisterLayout
@using Services;
@inject AuthService AuthService
@inject NavigationManager NavigationManager
@using Models;

<div class="page-container">
    <div class="left-panel">
        <div class="form-container">
            <h1 style="margin-bottom: 20px;">Регистрация</h1>

            <div class="form-group">
                <label>Логин</label>
                <input type="text" class="input" placeholder="Введите логин" />
            </div>

            <div class="form-group">
                <label>Пароль</label>
                <input type="password" class="input" placeholder="Введите пароль" />
            </div>

            <div class="form-group">
                <label>Подтвердить пароль</label>
                <input type="password" class="input" placeholder="Подтвердите пароль" />

            </div>

            <button class="btn-register"><strong>Зарегистрироваться</strong></button>

            <p class="login-link">Есть аккаунт? <a href="/login">Войти</a></p>
        </div>
    </div>

    <div class="right-panel">
        <img src="images/luigi-logo.png" alt="Luigi's Logo" class="logo" />
        <p class="description">Приложение для сотрудников бла бла бла</p>
        <p class="thanks">Спасибо что вы с нами!</p>
    </div>
</div>

@code {
    private RegisterModel registerModel = new RegisterModel();

    private void HandleRegistration()
    {
        var additionalData = new Dictionary<string, object>
        {
            { "first_name", registerModel.FirstName },
            { "last_name", registerModel.LastName },
            { "age", registerModel.Age }
        };
    }
}