

.page-container {
    display: flex;
    width: 100%;
    min-width: 1920px;
    min-height: 100vh;
    box-sizing: border-box;
    flex-wrap: wrap;
    font-family: 'Segoe UI', sans-serif;
}

.left-panel {
    flex: 1;
    min-width: 60%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-panel {
    flex: 1;
    min-width: 40%;
    background: #0b4032;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
}

.logo {
    width: 300px;
    margin: 0 auto 30px;
}

.brand {
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 36px;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    opacity: 0.8;
}

.thanks {
    margin-top: auto;
    font-size: 16px;
    margin-top: 300px;
}

.form-container {
    width: 100%;
    max-width: 700px;
    padding: 20px;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

    .form-group label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

.input {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}

.btn-register {
    width: 100%;
    background-color: #0b4032;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px
}

    .btn-register:hover {
        background-color: #095f49;
    }

.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}